<%= extend('../layout/control-layout') %>
    

<div class="row justify-content-center">
  <div class="col-md-6">
    

    

    <div class="btn-group w-100">
      <a href="/dashboard/archives?status=public" class="btn btn-outline-secondary w-100 rounded-0 <% if(status === 'public' ) { %> active <% } %>">已發佈</a>
      <a href="/dashboard/archives?status=draft" class="btn btn-outline-secondary w-100 rounded-0 <% if(status === 'draft' ) { %> active <% } %>">草稿</a>
      <a href="article/create" class="btn btn-primary">新增文章</a>
    </div>

    <% for ( var i in articles ) { %>
      <div class="card my-3">
        <h4 class="card-header">
            <%- articles[i].article_title %>
        </h4>
        <div class="card-body">
          <%- stringtags(articles[i].article_content).slice(0,150) %> ...
          <div>
            <span class="fa fa-clock-o"></span> 
            <%- moment(articles[i].article_update_time * 1000).format('YYYY/MM/DD') %>
            ,
            <span class="fa fa-folder-open-o"></span>
            <span>
                <% for ( var a in categories ) { %>
                  <% if(categories[a].category_id === articles[i].article_category){ %> 
                      <%-  categories[a].category_name %>  
                  <% } %>
                <% } %>
              
            </span>
          </div>
        </div>
        <div class="card-footer p-0 btn-group">
          <a href="#" class="btn btn-outline-danger rounded-0 deletePost" data-id="<%- articles[i].article_id %>" data-title="<%- articles[i].article_title %>">刪除</a>
          <a href="/dashboard/article/<%- articles[i].article_id %>" class="btn btn-outline-secondary w-100 rounded-0">編輯</a>
          
          <a href="/post/<%- articles[i].article_id %>" target="_blank" class="btn btn-outline-secondary w-100 rounded-0">預覽</a>
          
        </div>
      </div>
      <% } %>
  </div>
</div>



<%- include('../pagination') %>

<script>
    $(document).ready(function(){
      $('.deletePost').on('click',function(e){
        e.preventDefault();
        var id = $(this).data('id');
        var title = $(this).data('title');
        if( confirm ('確認是否刪除' + title + '？')){
          $.ajax({
            url:'/dashboard/article/delete/' + id,
            method:'POST'
          }).done(function(response){
              console.log(response)
              window.location = '/dashboard/archives'
          })
        }
      })

    })
</script>
